.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___right img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  height: 200px;
  width: 150px;
}

.fighter-preview___left img {
  height: 200px;
  width: 150px;
}

.fighter-info___list {
  list-style-type: none;
  font-size: 14px;
  font-family: 'Arial Black';
  font-weight: 100;
  border-bottom: 1px solid gold;
  padding: 0;
}

.fighter-info__list-element__name {
  color: orange;
  font-size: 16px;
  text-align: center;
}

.fighter-info__list-element__attack {
  color: wheat;
}

.fighter-info__list-element__health {
  color: wheat;
}

.fighter-info__list-element__defense {
  color: wheat;
}

#loading-overlay {
  background: url(https://media3.giphy.com/media/uV2T8U6N6CYiA/giphy.gif?cid=ecf05e47dc9930bea340f1b1e1538b8627efef4498c9a646&rid=giphy.gif)!important;
  /* background-size: cover!important; */
  background-size: 100% 100%!important;
}